.contactTitle {
  margin-left: 40px;
  margin-top: 180px;
  font-size: 35px;
  font-family: 'Montserrat',sans-serif;
}

.contactLine {
  display: flex;
  margin: 10px;
  margin-left: 40px;
  border: #b3e4b9 2px solid;
  border-radius: 10px;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  width: 80vw;
  max-width: 400px;
  padding: 10px;
}

.contactLine:hover {
  background-color: #b3e4b9;
}

.contactIcon {
  color: #34a334;
  font-size: 20px;
  margin: 20px 10px;
}

.contactText {
  font-family: sans-serif;
  font-size: 15px;
  margin: 20px 10px;
}

@media (max-width: 330px) {
  .emailText {
    font-size: 11px;
  }
}