.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topSection {
  display: flex;
  position: fixed;
  background: rgb(255, 255, 255);
  top: 0;
  left: 0;
  width: -webkit-fill-available;
  height: 160px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid whitesmoke;
}

.bottomSection {
  margin-top: 200px;
}

.descriptionSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 25px;
  padding: 20px;
  font-size: 18px;
}

.decriptionTitle {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin: 4px;
}

.decriptionText {
  text-align: center;
  margin: 15px;
  width: 60%;
  font-size: 22px;
}

.tabs {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color: #383838;
  cursor: pointer;
}

.tab {
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  padding: 15px;
  width: 100px;
}

.tab:hover {
  background: #f3f3f3;
}