.pictureHolderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #e9e9e9;
    transition: 500ms;
    padding: 5px;
    margin: 20px;
}

.pictureHolderContainer:hover {
    background-color: #e9e9e9;
}

.pictureTitle {
    font-family: 'Qwigley', cursive;
    font-size: 35px;
    cursor: default;
}

.pictureCover {
    position: absolute;
    background: transparent;
    transition: 500ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pictureCover > .pictureButton {
    transform: scale(0.001);
}

.pictureCover:hover {
    background: #00000055;
}

.pictureCover:hover > .pictureButton {
    transform: scale(1);
}

.pictureButton {
    color: white;
    border: 1px solid #fff;
    font-size: 10px;
    letter-spacing: 2px;
    border-radius: 15px;
    padding: 8px 8px 4px 10px;
    margin: 5px;
    cursor: pointer;
    transition: 200ms;
    font-family: 'Syncopate', sans-serif;
}

.pictureButton:hover {
    border-color: transparent;
    background-color: #303030a0;
}